%general {
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px black;
  font-family: "Raleway", sans-serif;
  width: 15rem;
  margin-block: 0.8rem;
  margin-inline: 0.8rem;
  padding-inline: 0.5rem;
  outline: none;
  font-size: 1rem;
  border: none;
}

@mixin flex($display) {
  display: flex;
  flex-direction: $display;
  justify-content: center;
  align-items: center;
}

.login {
  width: 100%;
  height: calc(100vh - 6rem);
  object-fit: contain;
  @include flex(row);
  background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
  background-size: cover;
  form {
    min-width: 20%;
    min-height: 50%;
    @include flex(column);
    padding: 1rem;
    box-shadow: 2px 2px 10px gray;
    background-color: white;
    border-radius: 10px;
    input {
      @extend %general;
    }
    label {
      @extend %general;
      padding-inline: 0rem;
      box-shadow: none;
      padding-block: 0;
      font: 100 1rem sans-serif;
      letter-spacing: 0.01rem;
    }
    button {
      @extend %general;
      font: 400 1.2rem sans-serif;
      letter-spacing: 0.01rem;
      color: white;
      background-color: rgb(39, 125, 39);
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: rgb(15, 103, 15);
      }
    }
  }
}
