@media screen and (max-width: 810px) {
  .generalnav {
    display: none !important;
    width: 15%;
  }
  .container {
    display: flex;
    justify-content: space-around;
  }
  .phonenav {
    display: block;
  }
  .BlogCard {
    width: 45vmax;
  }
  .profile-details {
    right: 4vw;
  }
  .container {
    > nav ul {
      padding: 0 0vmax;
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 100%;
  }
  .BlogCard {
    width: 42vmax !important;
  }
  .Blog-Details {
    img {
      height: 45vh;
      object-fit: contain;
      box-shadow: 1px 1px 4px rgb(89, 89, 89);
    }
  }
  .post {
    form {
      > div > span {
        max-width: fit-content !important;
      }
    }
  }
  .postimg {
    img {
      max-height: 30vh ;
    }
  }
}
