.update {
  width: 100%;
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    min-width: 50%;
    box-shadow: 0px 2px 4px gray;
    border-radius: 20px;
    padding: 2rem;
    label {
      font: 500 1.5rem "Raleway";
      font-family: "Popins", sans-serif;
      width: 15rem;
      margin: 1rem;
      padding-inline: 0.5rem;
      outline: none;
      font-size: 1rem;
      border: none;
    }
    input {
      padding-block: 1rem;
      border-radius: 10px;
      box-shadow: 0px 0px 4px black;
      font-family: "Raleway", sans-serif;
      width: 15rem;
      margin: 1rem;
      padding-inline: 0.5rem;
      outline: none;
      font-size: 1rem;
      border: none;
    }
  }
}
#updateimg {
  cursor: pointer;
}
