* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  background-color: var(--button);
  color: var(--textdark);
}

textarea {
  background-color: var(--button);
  color: var(--textdark);
}

#root{
  background-color: var(--bglight);
  height: 100vh;
}