.category {
  margin-top: 50px;
  position: relative;

  .box {
    border-radius: 0;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px;
      background: rgba(0, 0, 0, 0.5);
    }

    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 80px;
      padding: 20px;
      text-align: center;
      width: 100%;
      z-index: 2;
      color: #fff;

      h4 {
        font-weight: 500;
        color: rgb(253, 246, 126);
      }

      p {
        color: #fff;
        font-weight: 300;
        padding: 15px;
      }
    }
  }
}

.control-btn {
  button {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 2px;
  }

  .next {
    position: absolute;
    top: 40%;
    right: 20px;
  }

  .prev {
    position: absolute;
    top: 40%;
    left: 20px;
    z-index: 99;
  }

  .icon {
    font-size: 25px;
  }
}
